.BJ{
    width: 100vw;
    height: 100vh;
    background: url(../../../img/table.png);

    .deck{
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        background: url(../../../img/deck.png) no-repeat;
        background-size: 10vw 30vh;
        position: absolute;
        width: 10vw;
        height: 30vh;
        top: 30vh;
        right: 10vw;
        cursor: pointer;
        font-size: 0;
        text-align: center;

        &:hover{
            transition: all .3s;
            color: rgb(0, 0, 0);
            filter: grayscale(60%);
            font-size: 4.5vw;
            font-weight: 700;
        }
    }
    .enough{
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        transition: all .3s;
        background-color: rgb(226, 51, 51);
        border-radius: 50%;
        border: .2vw black solid;
        top: 70vh;
        position: absolute;
        right: 13.6vw;
        width: 1.3vw;
        height: 1.3vw;
        font-size: 0;

        &:hover{
            transition: all .3s;
            top: 63vh;
            right: 9vw;
            width: 10vw;
            height: 10vw;
            font-size: 2.5vw;
        }
    }
    .PopUp{
        &.Active{
            left: 2vw;
            transition: all .3s; 

        }
        &.notActive{
            left: -98vw;
            transition: all .3s; 
        }

        transition: all .3s; 
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       z-index: 60;
       width: 96vw;
       height: 90vh;
       position: absolute;
       top: 5vh;

       border-radius: 30px;
       border:rgb(44, 25, 25) solid .5vw;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(140,68,50,1) 33%, rgba(142,43,31,1) 66%, rgba(0,0,0,1) 100%);

        text-align: center;

       h2{
           width: 100%;
           padding-top: 5vh;
           font-size: 4.5vw;
           color:rgb(255, 255, 255);
       }
       p{
           text-align: center;
            font-size: 2.5vw;
            width: 90%;
            color:rgb(255, 255, 255);
        }
        input{
            border-radius: 10px;
            background-color: rgb(223, 32, 32);
            font-size: 2vw;
            margin: auto;
            width: 20%;
            transition: all .3s;
            height: 6vh;

            text-align: center;

            &:focus{
                background-color: rgb(255, 53, 53);
                transition: all .3s;
                outline: none;
                width: 40%;
            }
        }
        a{
            cursor: pointer     ;
            font-weight: 700;
            border-radius: 20px;
            padding: 0 10%;
            
            display: flex;
            justify-content: center;
            align-items: center;
            border: radius 30px;
            border: .2vw solid rgb(90, 12, 12);
            font-size: 2vw;
            width: 20%;
            height: 7vh;
            background-color: rgb(165, 165, 165);

            &:visited{
                color: inherit;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .BJ{
        .deck{
            
            transition: all .3s;
            color: rgb(0, 0, 0);
            filter: grayscale(60%);
            font-size: 7vw;
            font-weight: 700;

            background-size: 20vw 20vh;
            width: 20vw;
            height: 20vh;
            top: 35vh;
            left: 75vw;
        }
        .enough{
            display:none;
            box-sizing: border-box;
            transition: all .3s;
            top: 90vh;
            right: 0vw;
            width: 100vw;
            height: 10vh;
            font-size: 6vw;

            border-radius: 0;

            &:hover{
                
                display:none;
                box-sizing: border-box;
                transition: all .3s;
                top: 90vh;
                right: 0vw;
                width: 100vw;
                height: 10vh;
                font-size: 6vw;

                border-radius: 0;
            }

            
        }
        .PopUp{
            top: 15vh;
            height: 70vh;
            h2{
                font-size: 6vh;
            }
            p{
                font-size: 4vh;
            }
            a{
                font-size: 3vh;
                width: 40%;
            }
        }
    }
}