.MainPopUpItem{
    width: 40%;
    background-color: rgb(94, 91, 91);
    margin-top: 3vh;
    h3{
        padding: 1vh;
        font-size: 4vh;
    }
    p{
        font-size: 3vh;
        padding: 1vh;
    }
}

@media screen and (max-width: 768px){
    .MainPopUpItem{
        margin-top: 2vh;
        width: 80%;
    }
}